<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/Logo/logo big-filled.png">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
    <ul class="leftbuttonsContainer navbar-nav nav-flex-icons">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="auth/sign-up">
        <button anim="ripple" type="button" class="btn signup"> <i class="fas fa-user-plus"></i> Sign up</button>
        </a>
        <a href="#">
          <button type="button" class="btn login" ><i class="fas fa-sign-in-alt"></i> Log in</button>
        </a>
      </div>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
