<app-navbar></app-navbar>
<div class="bodyContainer">
  <div class="feedContainer">



    <div class="tinqWrapper" *ngFor="let tinq of testTinqs">
      <div class="card">
        <! Check om vi er admin eller ej, for at vise hvilke knapper på hover->
        <div class="multi-button" *ngIf="isAdmin; else user">
        <button class="fas fa-heart"></button>
        <button class="fas fa-comment"></button>
        <button class="fas fa-user-slash"></button>
        <button class="fas fa-trash"></button>
      </div>

        <ng-template #user>
          <div class="multi-button">
          <button class="fas fa-heart"></button>
          <button class="fas fa-comment"></button>
          </div>
        </ng-template>

      <div class="container">
        <div class="byContainer">
        <div class="byWrapper">
          <p class="by">Thought by: {{tinq.username}}</p>
        </div>
      </div>
      <div class="contentContainer">
        <p>{{tinq.content}}</p>
      </div>

      <div class="footerContainer">
        <div class="tagWrapper">
          <p>{{tinq.tags}}</p>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
