<app-navbar></app-navbar>
<div class="bodyContainer">
  <div class="feedContainer">


    <div class="tinqWrapper" *ngFor="let tinq of testTinqs">
      <div class="byContainer">
        <div class="byWrapper">
          <p class="by">Thought by: {{tinq.username}}</p>
        </div>
      </div>
      <div class="contentContainer">
        <p>{{tinq.content}}</p>
      </div>

      <div class="footerContainer">
        <div class="tagWrapper">
          <p>{{tinq.tags}}</p>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer></app-footer>
