<div class="headerContainer">
<div class="header">
  <p class="username">User page for: {{Username}}</p>
</div>
</div>

<div class="ProfileContainer">
  <div class="ProfileWrapper">
    <div *ngIf="posts$ | async as posts else loading">
      <div *ngIf="posts && posts.length > 0 else noPosts">
        <div class="tinqWrapper" *ngFor="let tinq of posts">
          <div class="card">
            <! Check om vi er admin eller ej, for at vise hvilke knapper på hover->
            <div class="multi-button" *ngIf="isAdmin; else user">
              <button class="fas fa-trash" (click)="debug(tinq.userId.toString())"></button>
            </div>

            <ng-template #user>
              <div class="multi-button">
                <button class="fas fa-trash" (click)="debug(tinq.userId.toString() + ' - ' + tinq.id.toString())"></button>
              </div>
            </ng-template>

            <div class="container">
              <div class="byContainer">
                <div class="byWrapper">
                  <p class="by">{{tinq.title}}</p>
                </div>
              </div>
              <div class="contentContainer">
                <p>{{tinq.body}}</p>
              </div>

              <div class="footerContainer">
                <div class="tagWrapper">
                  <p *ngFor="let t of tinq.tags">{{t.text + ","}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noPosts>
      <h3 class="noPosts">No Posts found! Don't be shy! Let your thoughts flow and share them with the world</h3>
      <h3 class="noPosts" style="margin-top: 20px"><a href="/app"> <i class="fa fa-angle-left"></i>&nbsp; Back to feed!</a></h3>
    </ng-template>

    <ng-template #loading>
      <p *ngIf="!error else errorTemp">....loading</p>
      <ng-template #errorTemp>{{error?.message}}</ng-template>
    </ng-template>
  </div>
</div>
