.SignupContainer{
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
}

.SignupWrapper{
  border-radius: 20px;
  width: 500px;
  height: auto;
  margin: 25px auto;
  background: white;
  color: black;
}

.titleWrapper{
  width: 100%;
  height: 70px;
  border: solid darkgray;
  border-width: 0 0 1px 0;
}

.title{
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
  color: #63a447;
}

.BodyWrapper{
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.introText{
  width:60%;
  text-align: center;
  color: Black;
  margin: 15px auto;
}

.introText p{
  font-size: 16px;
}

.FooterWrapper{
  width: 100%;
  height: 70px;
  border: solid darkgray;
  border-width: 1px 0 0 0;
}

.leftbuttonsContainer{
  align-items: center;
  margin-top: 20px;
}

.login{
  cursor: pointer;
  text-align: center;
  background: black;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 400px;
  height: 40px;
}

.login:hover{
  background: #63a447;
}

.form-check-label a {
  color: black;
  transition: color 0.2s;
}

.form-check-label a:hover {
  color: gray;
}

