<app-navbar></app-navbar>

<div class="SignupContainer">
  <div class="SignupWrapper">
    <div class="titleWrapper">
      <h1 class="title">SIGN UP SUCCESS! <i class="fa fa-check"></i></h1>
    </div>
    <div class="BodyWrapper">
      <div class="introText">
        <p>Every thing went smoothly!<br> You can now login with confidence, and enjoy a fantastic community of creative
          and inspiring minds! The platform is your oyster,
          so go make your mark on it.</p>
      </div>
    </div>
    <div class="FooterWrapper">
      <ul class="leftbuttonsContainer navbar-nav nav-flex-icons">
        <div class="btn-group shadow-none" role="group">
          <a href="/auth/login">
            <button type="button" class="btn shadow-none login">Log In! &nbsp;<i class="fas fa-angle-right"></i></button>
          </a>
        </div>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
