<app-navbar></app-navbar>

<div>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of allUsers; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{user.id}}</td>
        <td>{{ user.username}}</td>
        <td>{{ user.email }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-footer></app-footer>
