.post {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.post {
  font-family: Roboto;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  border-radius: 5px;
  width: 180px;
  height: 40px;
  color: black;
  background: white;
  border: 1px solid black;
  box-shadow: 3px 3px 0 black,
  -3px -3px 0 black,
  -3px 3px 0 black,
  3px -3px 0 black;
  transition: 500ms ease-in-out;
}

.post:hover {
  background: #63a447;
  box-shadow: 20px 3px 0 black, -20px -3px 0 black;
}

.post:focus {
  outline: none;
}
