.bodytestwrapper{
  display: grid;
  grid-template-columns: auto 800px;
  align-items: start;
  grid-template-rows: 600px;
  background: black;
}

.testContainer{
  align-self: stretch;
}

.title{
  margin-top: 15%;
  margin-left: 15%;
  background: black;
}

.typewriter h2 {
  color: #fff;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid teal; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: teal }
  50% { border-color: teal }
}

h1{
  color: white;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;

}

.noselect {
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: black;
  border: 1px solid white;
  box-shadow: 3px 3px 0 white,
  -3px -3px 0 white,
  -3px 3px 0 white,
  3px -3px 0 white;
  transition: 500ms ease-in-out;
}

.noselect:hover {
  box-shadow: 20px 3px 0 white, -20px -3px 0 white;
}

.noselect:focus {
  outline: none;
}

.bodyLogo{
  width: 250px;
  height: 140.63px;
}

.handContainer{
  align-self: stretch;
  width: 500px;
  max-width: 500px;
}

.hand{
  object-fit: contain;
  max-width: 500px;
  max-height: 500px;
}
