<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark">
  <div class="logoContainer">
  <a class="navbar-brand" href="/app">
    <img class="logo" src="../../../assets/Logo/logo%20big-filled.png">
  </a>
  </div>
  <div class="searchContainer">
 <app-search></app-search>
  </div>
  <div class="userContainer">

    <div class="dropdown">
      <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="far fa-user"></i>&nbsp; &nbsp; {{username}}
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="/index">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--/.Navbar -->
