.navbar{
  background: black;
}
.navbar-brand{
  margin-left: 20px;
}

.logo{
  width: 100px;
  height: 56.25px;
}

.leftbuttonsContainer{
  margin-left: auto;
}

.login{
  cursor: pointer;
  text-align: center;
  margin-right: 30px;
  background: black;
  color: white;
  border-radius: 0px 5px 5px 0px;
  width: 150px;
  height: 40px;
  border: 1px solid white;
}

.signup{
  cursor: pointer;
  text-align: center;
  background: white;
  color: black;
  border: none;
  border-radius: 5px 0px 0px 5px;
  width: 150px;
  height: 40px;
}


